__pycache__/
.ipynb_checkpoints
*.pyc
.DS_Store
env/
venv/
*.sqlite3
.pixi/
**.pixi/
.vscode/
*.nc
**pixi.lock

**.ecmwfapirc
1_IBF_Renewable_Energy/data/
2_IBF_Flood_Damage/3_Flood_Damage_Model/data/
2_IBF_Flood_Damage/3_Flood_Damage_Model/output/