
[project]
name = "icpac-training"
channels = ["conda-forge"]
platforms = ["linux-64", "win-64"]

[dependencies]
python = "3.12.*"  # Keep python in conda
pip = ">=25.2,<26"  # Keep pip in conda
pytest = ">=8.4.2,<9"

[pypi-dependencies]
numpy = ">=1.24"
pandas = ">=2.0"
pyarrow = ">=14.0"
fastparquet = ">=2023.10"
xarray = ">=2023.1"
dask = ">=2023.1"
zarr = ">=2.16"
matplotlib = ">=3.7"
netcdf4 = ">=1.6"
h5netcdf = ">=1.2"
ipykernel = ">=6.30.1,<7"
json5 = ">=0.9"
jupyter = ">=1.0"
tqdm = ">=4.65"
python-dotenv = ">=1.0"
omegaconf = ">=2.3"
debugpy = ">=1.6"
cdsapi = ">=0.7"
cfgrib = ">=0.8.4"
cartopy = ">=0.25"
ecmwf-api-client = "*"
ecmwf-opendata = "*"